apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: web
        image: busybox:1.35
        command: ["/bin/sh"]
        args: ["-c", "echo 'Starting up...'; sleep ifninity"]
